.head{
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 350px;
    background-color: aliceblue;
    height: 58px;
}
#icon{
    height: 60px;
}

.function{
    padding-top: 65px;
    /* padding-bottom: 180px; */
    /* box-sizing: border-box;
    min-height: calc(100vh -88px -160px);
    overflow: auto; */
}

.Footer{
  left: 0;
  right: 0;
  bottom: 0;
  /* position: fixed; */
  display: flex;
  /* align-items: center; */
  gap: 150px;
  padding: 12px 16px;
  border-top: 1px solid #dbe7f3;
  background: #fff;
  height: 150px;

}

#footerimg{
    height: 120px;
    width: 1050px
}